<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:object='${user}'>
    <label>Detail</label>

    <form   th:action="*{id} == null?
                    @{/users/v1} : @{|users/v1/*{id}|}"
            th:method="POST"
            th:value="*{id}">

            <p th:if="*{id} != null">
                <span th:text="#{id}"></span>

                <input th:field="*{id}">
            </p>

            <p>
                <span th:text="#{name}"></span>

                <input th:field="*{name}">
            </p>

            <p>
                <input type="submit" th:value="#{submit}">
            </p>
    </form>

</body>
</html>